.container{
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.btn {
    display: inline-block;
    font-weight: 400;
    color: #f2f2f2;
    text-align: center;
    vertical-align: middle;
    background-color: transparent;
    border: 1px solid transparent;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0.25rem;
}

.btn-general {
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
}
.btn-general:hover{
    background-color: #0568eb;
    cursor: pointer;
}
.btn-red{
    background-color: #cd2210;
    border-color: #cd2210;
}
.btn-red:hover{
    background-color: #aa0028;
    cursor: pointer;
}
.btn-green{
    background-color: #3bcb45;
    border-color: #3bcb45;
}
.btn-green:hover{
    background-color: #0d948b;
    cursor: pointer;
}
.small-label-text{
    font-size: 0.8rem;
}
.btn-small {
    padding: 0.25rem 0.5rem;
    font-size: .875rem;
    line-height: 1.5;
    border-radius: 0.2rem;
    width: 20%;
    margin-left: auto;
    margin-right: 3rem;
    margin-top: 1rem;
    margin-bottom: 2rem;
}
.btn-small-change {
    padding: 0.25rem 0.5rem;
    font-size: .875rem;
    line-height: 1.5;
    border-radius: 0.2rem;
    width: 20%;
    margin-left: 2rem;
    margin-right: 2rem;
    margin-bottom: 1rem;
}
.marg-top{
    margin-top: 1rem;
    margin-bottom: 2rem;
}
a {
    color: #749bf0;
    text-decoration: none;
    background-color: transparent;
}
.center-text{
    margin-top: 4rem;
    margin-bottom: 20rem;
    text-align: center;
}
.foot{
    font-size: 1rem;
    margin: 0.75rem 1.25rem;
    padding-bottom: calc(1rem + env(safe-area-inset-bottom));
}
.BIG{
    font-size: 2.2rem;
}
@media (min-width: 768px){
.container{
    max-width: 720px;
    }
}
@media (min-width: 992px){
    .container{
        max-width: 960px;
    }
}
@media (min-width: 1200px){
    .container{
        max-width: 1140px;
    }
}